// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/notification-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-header-findajob .govuk-header__logo {
  padding-right: 8px;
  @include govuk-media-query($from: tablet) {
    width: auto;
  }
}

.govuk-header-findajob .govuk-header__content {
  padding-bottom: 20px;
  @include govuk-media-query($from: desktop) {
    padding-bottom: 8px;
    padding-bottom: 0px;
  }
}

.govuk-header__container {
  border-color: white;
}

.header-nav {
  margin: 0;
  padding: 0 0 0 0;
  font-size: 19px;
  line-height: 25px;
  li {
    list-style: none;
  }
  a {
    color: govuk-colour("white");
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    &:focus {
      color: govuk-colour("black");
    }
    @include govuk-media-query($from: desktop) {
      border-bottom: 5px solid govuk-colour("black");
      float: left;
      padding: 5px 0px 10px 0;
    }
  }
  a.current {
    font-weight: bold;
    @include govuk-media-query($from: desktop) {
      border-bottom: 5px solid govuk-colour("blue");
    }
  }
  a.current::before {
    content: "\00a0";
    background-color: govuk-colour("blue");
    width: 4px;
    display: block;
    position: absolute;
    left: -5px;
    @include govuk-media-query($from: desktop) {
      display: none;
    }
  }
}

.header-nav.header-nav-primary {
  @include govuk-media-query($from: desktop) {
    font-weight: bold;
    li a {
      margin-right: 16px;
    }
  }
}

.header-nav-secondary {
  @include govuk-media-query($from: desktop) {
    // width: 30%;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 16px;
    line-height: 20px;
    li {
      display: inline-block;
      text-align: right;
    }
    li a {
      margin-left: 16px;
    }
  }
}

