.banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action, .banner-information-with-action, .banner-information-without-action, .banner-temporary-message-without-action {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid; }
    @media (min-width: 641px) {
      .banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action, .banner-information-with-action, .banner-information-without-action, .banner-temporary-message-without-action {
        font-size: 24px;
        line-height: 1.25; } }
    .banner-destructive-without-action .banner-content, .banner-destructive-with-action .banner-content, .banner-warning-with-action .banner-content, .banner-warning-without-action .banner-content, .banner-success-with-action .banner-content, .banner-success-without-action .banner-content, .banner-information-with-action .banner-content, .banner-information-without-action .banner-content, .banner-temporary-message-without-action .banner-content {
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      color: #0b0c0c;
      margin-top: 15px;
      margin-bottom: 15px; }
      @media (min-width: 641px) {
        .banner-destructive-without-action .banner-content, .banner-destructive-with-action .banner-content, .banner-warning-with-action .banner-content, .banner-warning-without-action .banner-content, .banner-success-with-action .banner-content, .banner-success-without-action .banner-content, .banner-information-with-action .banner-content, .banner-information-without-action .banner-content, .banner-temporary-message-without-action .banner-content {
          font-size: 19px;
          line-height: 1.31579; } }
      .banner-destructive-without-action .banner-content ul, .banner-destructive-with-action .banner-content ul, .banner-warning-with-action .banner-content ul, .banner-warning-without-action .banner-content ul, .banner-success-with-action .banner-content ul, .banner-success-without-action .banner-content ul, .banner-information-with-action .banner-content ul, .banner-information-without-action .banner-content ul, .banner-temporary-message-without-action .banner-content ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-top: 5px; }
        .banner-destructive-without-action .banner-content ul li, .banner-destructive-with-action .banner-content ul li, .banner-warning-with-action .banner-content ul li, .banner-warning-without-action .banner-content ul li, .banner-success-with-action .banner-content ul li, .banner-success-without-action .banner-content ul li, .banner-information-with-action .banner-content ul li, .banner-information-without-action .banner-content ul li, .banner-temporary-message-without-action .banner-content ul li {
          margin-bottom: 5px; }
  
  .banner-destructive-without-action, .banner-destructive-with-action,
  .banner-destructive-without-action p, .banner-destructive-with-action p {
    color: #b10e1e; }
  
  .banner-warning-with-action, .banner-warning-without-action, 
  .banner-warning-with-action p, .banner-warning-without-action p{
    color: #cd4c0b; }
  
  .banner-success-with-action, .banner-success-without-action,
  .banner-success-with-action p, .banner-success-without-action p {
    color: #00823b; }
  
  .banner-action {
    margin-top: 10px;
    margin-bottom: 5px; }
  
  .banner-message {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0; }
    @media (min-width: 641px) {
      .banner-message {
        font-size: 24px;
        line-height: 1.25; } }
  
  .banner-information-with-action, .banner-information-without-action,
  .banner-information-with-action p, .banner-information-without-action p {
    color: #005ea5; }
  
  .banner-temporary-message-without-action {
    border: none;
    margin-bottom: 30px; }
    @media (min-width: 641px) {
      .banner-temporary-message-without-action {
        margin-bottom: 10px; } }
    .banner-temporary-message-without-action h2 {
      font-family: "nta", Arial, sans-serif;
      font-weight: 700;
      text-transform: none;
      font-size: 24px;
      line-height: 1.04167;
      margin-bottom: 15px; }
      @media (min-width: 641px) {
        .banner-temporary-message-without-action h2 {
          font-size: 36px;
          line-height: 1.11111; } }
      @media (min-width: 641px) {
        .banner-temporary-message-without-action h2 {
          margin-bottom: 20px; } }
    .banner-temporary-message-without-action .banner-message,
    .banner-temporary-message-without-action .banner-content {
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0; }
      @media (min-width: 641px) {
        .banner-temporary-message-without-action .banner-message,
        .banner-temporary-message-without-action .banner-content {
          font-size: 19px;
          line-height: 1.31579; } }
      @media (min-width: 641px) {
        .banner-temporary-message-without-action .banner-message,
        .banner-temporary-message-without-action .banner-content {
          float: left;
          width: 66.66667%; } }
      @media (min-width: 641px) {
        .banner-temporary-message-without-action .banner-message,
        .banner-temporary-message-without-action .banner-content {
          float: none; } }
    .banner-temporary-message-without-action .banner-content {
      color: inherit; }