{% set section = "account-settings" %}

{% extends "layout_findajob.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Account settings</h1>

      <h2 class="govuk-heading-l">Change password</h2>

      <p>Request an email so you can <a href="/reset-password">reset your password</a>.</p>

      <h2 class="govuk-heading-l">Delete account</h2>

      <p>If you no longer want to use the Find a job service you can <a href="">delete your account</a>.</p>

    </div>
  </div>

{% endblock %}
