{% set section = "create-account" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  Account already exists – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">There's already an account for this email address</h1>

      <p><a href="/reset-password">Reset your password</a> if you've forgotten it.</p>

      <p>Or <a href="/sign-in">sign in</a>.</p>

    </div>
  </div>

{% endblock %}
