{% set section = "account-settings" %}

{% extends "layout_findajob.html" %}

{% block pageTitle %}
  Account settings - Find a job - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Account settings</h1>

      <h2 class="govuk-heading-l">Email alerts</h2>

      <p><a href="#">Manage the email alerts</a> you have created for job adverts.</p>

      <h2 class="govuk-heading-l">Favourite jobs</h2>

      <p><a href="#">Manage the jobs you've saved</a> through the heart icon.</p>

      <h2 class="govuk-heading-l">Activity history</h2>

      <p><a href="#">View your activity history</a> &ndash; the job searches you've made, job adverts you've viewed and job applications sent
      through the service.</p>

      <h2 class="govuk-heading-l">Change password</h2>

      <p><a href="/reset-password-request-sent-signed-in">Request a password reset email</a> &ndash; this will be sent to example@mail.com</p>

      <h2 class="govuk-heading-l">Delete account</h2>

      <p>You can <a href="#">delete your account</a> if you no longer want to use the 'Find a job' service.</p>

    </div>
  </div>

{% endblock %}
