{% set section = "create-account" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  Check your email and activate your account – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your email and activate your account</h1>

      <p>We've sent an <a href="/email-activate-account">email with an account activation link</a> to user@mail.com</p>

      <p>Follow the link in the email within 24 hours to finish creating your 'Find a job' account.</p>

      <p>If you cannot find the email, look in your spam or junk email folder.</p>

      <p><a href="#">Still not received the email?</a></p>

    </div>
  </div>

{% endblock %}
