{% set section = "company-profile" %}

{% extends "layout_findajob.html" %}

{% block pageTitle %}
  Company profile – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Company profile</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Acme Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> company name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trading name
          </dt>
          <dd class="govuk-summary-list__value">
            Acme Corp
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> trading name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>1 Westlands<br>
            Newville<br>
            North Yorkshire<br>
            YO99 1YO</p> 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Website
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="https://www.google.co.uk">www.google.co.uk</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> website</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01234 567 890
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company size
          </dt>
          <dd class="govuk-summary-list__value">
            Small (11 to 50 employees)
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> company size</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sector
          </dt>
          <dd class="govuk-summary-list__value">
            Agriculture, forestry and fishing
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> sector</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Disability Confident status
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['disability-confident'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/disability-confident-status">
              Change
              <span class="govuk-visually-hidden"> Disability Confident status</span>
            </a>
          </dd>
        </div>
      </dl>
    
      <h2 class="govuk-heading-l">Bulk upload</h2>

      <p>You can add multiple jobs to the service at a time through the 'bulk upload' feature. This involves a few technical steps, so you may prefer to post jobs one by one if you're not regularly posting lots of jobs.

      <p>Read the <a href="https://static.findajob.dwp.gov.uk/images/find_a_job_bulk_upload_spec_v1.9.pdf">technical guidance</a> about how to bulk upload jobs.</p>

      <p><a href="#">Request access to the bulk upload feature</a>.</p> 
    
      <h2 class="govuk-heading-l">Delete company</h2>

      <p>You can <a href="#">delete this company</a> to remove all of its data from the 'Find a job' service.</p>

    </div>
  </div>

{% endblock %}
