{% set section = "company-profile" %}

{% extends "layout_findajob.html" %}

{% block pageTitle %}
  Disability Confident status - Find a job - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Find a job</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/company-profile">Company profile</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Disability Confident status
        </li>
      </ol>
    </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/company-profile" method="post"> 

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="disability-confident-conditional-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                      Is your company registered as Disability Confident?
                    </h1>
                  </legend>
                  <p>
                    Jobs posted by Disability Confident employers will be marked with the Disability Confident logo to make it easier for jobseekers to find them.
                  </p>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="disability-confident-conditional" name="dc" type="radio" value="Yes, registered" {{ checked("disability-confident", "Yes") }} data-aria-controls="conditional-disability-confident-conditional" >
                      <label class="govuk-label govuk-radios__label" for="disability-confident-conditional">
                        Yes, it is registered
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-disability-confident-conditional">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="disability-confident-number">
                          Enter your Disability Confident number to help us validate your status (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="disability-confident-number" name="disability-confident-number" type="number" spellcheck="false" value="{{ data['disability-confident-number'] }}">
                      </div>

                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="disability-confident-conditional-2" name="dc" type="radio" value="Not registered" {{ checked("disability-confident", "No") }} data-aria-controls="conditional-disability-confident-conditional-2">
                      <label class="govuk-label govuk-radios__label" for="disability-confident-conditional-2">
                        Not registered
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-disability-confident-conditional-2">
                      <div class="govuk-form-group" >
                          <p>Find out how the <a href="https://disabilityconfident.campaign.gov.uk" target="_blank">Disability Confident scheme (opens in a new window)</a> can help you to make the most of the talents that disabled people can bring to your workplace</p>
                      </div>
                   </div>
                  </div>
                </fieldset>
              </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
