{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Reset your password – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div>
        <p><strong>From: Find a job service [no-reply@findajob.gov.uk]<br>
        Subject: Reset your password</strong></p>
      </div>

      <h1 class="govuk-heading-xl">Reset your password</h1>

      <p>Follow this link to reset your password: <a href="/set-new-password">http://localhost:3000/set-new-password</a>

      <p>The link will stop working after 24 hours.</p>

      <p>If this link has expired you can request another: <a href="/reset-password">http://localhost:3000/reset-password</a></p>

      <p>If you do not want to reset your 'Find a job' password you can ignore this email.</p>

      <p>Find a job team</p>

      <p><a href="/index">Back to the prototype homepage</a></p>

    </div>
  </div>

{% endblock %}
