{% extends "layout.html" %}

{% block pageTitle %}
  Forgotten password – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-s">Primary navigation (needs design pattern)</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/sign-in">Create account
          </a>
        </li>
        <li>
          <a href="/contact-us">Contact us
          </a>
        </li>      
        <li>
          <a href="/sign-in">Sign in
          </a>
        </li>        
      </ul>

    </div>
  </div>

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Forgotten password</h1>

      <form class="form" action="/password-reset-link-sent" method="post">

        <p>We'll email you a link to reset your password.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Email address
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Send password reset link</button>

      </form>

    </div>
  </div>

{% endblock %}
