{% extends "layout.html" %}

{% block pageTitle %}
  Password reset link sent – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-s">Primary navigation (needs design pattern)</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/sign-in">Create account
          </a>
        </li>
        <li>
          <a href="/contact-us">Contact us
          </a>
        </li>      
        <li>
          <a href="/sign-in">Sign in
          </a>
        </li>
                  
      </ul>
    </div>
  </div>

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Password reset link sent</h1>

      <p>If the email address exists in our system, we have sent an email to example@mail.com</p>

      <p>Use the link to reset your password within 24 hours.</p>

      <p>If you cannot find the email, check your spam or junk email folder.</p>

      <p><a href="/index">Back to the prototype homepage</a></p>

    </div>
  </div>

{% endblock %}
