{% set section = "sign-in" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  Password reset link sent – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Find a job</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/sign-in">Sign in</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Password reset link sent
        </li>
      </ol>
    </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Password reset link sent</h1>

      <p>If the email address exists in our system, we will have sent a password reset email to example@mail.com</p>

      <p>Use the password reset link within 24 hours.</p>

      <p>If you cannot find the email then look in your spam or junk email folder.</p>

      <p><a href="/index">Back to the prototype homepage</a></p>

    </div>
  </div>

{% endblock %}
