{% set section = "sign-in" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  You've reset your password – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You've reset your password</h1>

      <p>Your password has been updated and you've been logged in.</p>

      <p><a href="/index">Back to the prototype homepage</a></p>

    </div>
  </div>

{% endblock %}
