{% set section = "sign-in" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  Forgotten password – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Find a job</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/sign-in">Sign in</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Reset password
        </li>
      </ol>
    </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reset password</h1>

      <form class="form" action="/reset-password-request-sent" method="post">

        <p>We'll email you a link to reset your password.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Email address
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Send password reset link</button>

      </form>

    </div>
  </div>

{% endblock %}
