{% set section = "sign-in" %}

{% extends "layout_findajob_signed-out.html" %}

{% block pageTitle %}
  Choose your new password – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose your new password</h1>

      <form class="form" action="/reset-password-success" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Create a password
          </label>
          <span id="event-name-hint" class="govuk-hint">
            Minimum 8 characters in length with at least one number and one letter
          </span>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Confirm password
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>

        <button class="govuk-button" data-module="govuk-button">Reset password</button>

      </form>

    </div>
  </div>

{% endblock %}
