{% set section = "your-jobs" %}

{% extends "layout_findajob.html" %}

{% block pageTitle %}
  Your jobs – Find a job – GOV.UK
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

    {{ govukPhaseBanner({
      tag: {
        text: "Testing only"
      },
      html: 'Messages will not be sent and no data is saved.'
    }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your jobs</h1>

        <form class="form" action="/add-job" method="post">

        <table class="govuk-table">
         <caption class="govuk-table__caption">Acme Ltd's jobs</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">ID</th>
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Location</th>
              <th scope="col" class="govuk-table__header">Added by</th>
              <th scope="col" class="govuk-table__header">Submitted</th>
              <th scope="col" class="govuk-table__header">Published</th>
              <th scope="col" class="govuk-table__header">Closing</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1</th>
              <td class="govuk-table__cell"><a href="#">Cook</td>
              <td class="govuk-table__cell">York</td>
              <td class="govuk-table__cell">Dominique Wilkins</td>
              <td class="govuk-table__cell">15 August 2019</td>
              <td class="govuk-table__cell">Not published</td>
              <td class="govuk-table__cell">1 September 2019</td>
              <td class="govuk-table__cell">In review</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2</th>
              <td class="govuk-table__cell"><a href="#">Cleaner</a></td>
              <td class="govuk-table__cell">Leeds</td>
              <td class="govuk-table__cell">John Stockton</td>
              <td class="govuk-table__cell">18 August 2019</td>
              <td class="govuk-table__cell">20 August 2019</td>
              <td class="govuk-table__cell">4 September 2019</td>
              <td class="govuk-table__cell">Live</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">3</th>
              <td class="govuk-table__cell"><a href="#">Stock picker</a></td>
              <td class="govuk-table__cell">Harrogate</td>
              <td class="govuk-table__cell">Darryl Dawkins</td>
              <td class="govuk-table__cell">1 July 2019</td>
              <td class="govuk-table__cell">2 July 2019</td>
              <td class="govuk-table__cell">15 July 2019</td>
              <td class="govuk-table__cell">Closed</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">4</th>
              <td class="govuk-table__cell"><a href="#">Baker</a></td>
              <td class="govuk-table__cell">Nottingham</td>
              <td class="govuk-table__cell">Pete Maravich</td>
              <td class="govuk-table__cell">4 June 2019</td>
              <td class="govuk-table__cell">5 June 2019</td>
              <td class="govuk-table__cell">17 June 2019</td>
              <td class="govuk-table__cell">Removed by support</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">5</th>
              <td class="govuk-table__cell"><a href="#">Cashier</a></td>
              <td class="govuk-table__cell">Bradford</td>
              <td class="govuk-table__cell">Julius Erving</td>
              <td class="govuk-table__cell">9 June 2019</td>
              <td class="govuk-table__cell">Not published</td>
              <td class="govuk-table__cell">Not published</td>
              <td class="govuk-table__cell">Removed by support</td>
            </tr>
          </tbody>

        </table>

        <button class="govuk-button" data-module="govuk-button">Add a job</button>

        </form>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">How to add multiple jobs at a time</h2>

        <p>You can add multiple jobs to the service at a time through the 'bulk upload' feature. 

        <p>Read the <a href="https://static.findajob.dwp.gov.uk/images/find_a_job_bulk_upload_spec_v1.9.pdf">technical guidance</a> about how to upload jobs in bulk. You may prefer to post jobs one by one if you're not regularly posting lots of jobs.</p>

        <p><a href="#">Request access to the bulk upload feature</a>.</p> 

    </div>
  </div>

{% endblock %}
